@charset "utf-8";
body {
  font: normal 16px/1.8em Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

header,
footer,
nav,
main {
  margin: 2px;
  border: 2px solid #f00;
}

div,
ul {
  margin: 2px;
  border: 2px solid #f0f0;
}
li,
form,
img,
h1,
h2 {
  margin: 2px;
  border: 1px solid #0f0;
}

header {
}

nav {
}

footer {
}

main {
}
